@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  color: #93D195;
}

.btnPrimary{
  background-color: #7887F1;
  color: #FFFFFF;
  font-size: 14px;
  width: 187px;
  height: 35px;
  border-radius: 10px;
  opacity: 1;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
    fill: rgba(117,135,249,1);
}

.btnSecondary{
  color: rgba(53,63,73,1);
  font-size: 14px;
  width: 187px;
  height: 35px;
  border-radius: 10px;
  border-color: #FFFFFF;
  opacity: 1;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
}

.row {
  width: 100%;
}

.leftContainer {
  position: relative;
  max-width: 50%;
  text-align: center;
}

.rightContainer{
  width: 50%;
}


.formContainer {
  width: 399px;
}

.formInputs {
  margin-top: 50%;
  margin-left: 50%;
  margin-right: 50%;
  font-size: 12px;
  color: rgba(53,63,73,1);
  width: 100%;
}

.formButtons{
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 25%;
  text-align: center;
  font-size: 14px;
  width: 100%;
}

button{
  margin: 10px;
}



#ou{
  font-size: 10px;
  color: rgba(53,63,73,1);
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* width: 50% */
}

/* hr{
  width: 50%;
  justify-content: center;
} */


input{
    opacity: 0.4;
    filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.2));
    fill: rgba(255,255,255,1);
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    color: rgba(53,63,73,1);
}


#bgLogin {
  height: 768px;
  width: 512px;
}


#imgLogo {
  position: absolute;
  width: 273px;
  height: auto;
  left: 119.5px;
  top: 113.064px;
}

.homeButtons {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 180px;
  top: 313px;
}

#euSou {
  font-size: 20px;
  color: rgba(255,255,255,1);
}

.btnHomeActive {
  margin-top: 20px;
  width: 125px;
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(255, 255, 255);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.btnHomeInactive {
  width: 125px;
  height: 35px;
  border-radius: 10px;
  border-color: rgba(255,255,255,0.5);
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  background-color: transparent;

  opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(255, 255, 255);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
