@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(53,63,73,1);
}

.mainNav{
  background-color: rgba(117,135,249,1);
  color: rgba(255,255,255,1);
  font-size: 12px;
  height: 45px;
}

ul {
  padding: 10px 0;
  list-style-type: none;
}

li {
  display: inline;
  margin: 0 10px;
}

a {
  color: rgba(255,255,255,1);
}

a:hover {
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-weight: bold;
}

img {
  margin-right: 5px;
}

.mainActive {
  border-bottom: 3px solid #7FD38F;
  padding-bottom: 12px;
}


.mainRight {
  text-align: center;
  float: right;
}

#imgProfile {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

#dropBtn{
  background-color: transparent;
  border: none;
}

.dropdownContent{
  display: none;
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 235px;
  height: auto;
  overflow: visible;
  filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.102));

}

.dropdownContent a {
  padding: 10px;
  text-align: center;
  display: block;
  width: inherit;
  height: 40px;
  font-size: 12px;
  color: rgba(53,63,73,1);
}

.dropdownContent hr {
  margin: 0 10px;
}

.show {
  display: block;
}

.leftContainer {
  width: 33%;
  height: 723px;
  background-color: rgba(235,239,252,1);
}

.leftContainer h1 {
  font-weight: bold;
  font-size: 24px;
  color: rgba(53,63,73,1);
}

.leftContainer p {
  max-width: 320px;
  font-size: 12px;
  color: rgba(53,63,73,1);
}

.textContainer{
  width: inherit;
  margin-left: 30px;
  position: absolute;
  top: 50%;
}

.pagination {
  position: absolute;
  margin-top: 3%;
  margin-left: 7%;
}


.pagination a {
  background-color: #C5C5C5;
  opacity: 0.5;
  margin: 5px;
  border-radius: 50%;
  display: block;
  display: inline-block;
  color: rgba(53,63,73,1);
  float: left;
  padding: 6px 16px;
  text-decoration: none;
}


.pagination a.active {
  color: rgba(53,63,73,1);
  border: 2px solid #e8c65c;
  background-color: #FFFFFF;
}

.pagination a:hover:not(.active) {
  background-color: #C5C5C5;
  opacity: 1;
}

.rightContainer {
  position: relative;
  text-align: center;
  width: 66%;
  height: auto;
}

.videoContainer {
  width: 80%;
  height: 60%;
  text-align: center;
  margin-left: 30px;
  position: absolute;
  top: 20%;
}

iframe {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.videoContainer a {
  display: block;
  display: inline-block;
  background-color: #C5C5C5;
  width: 116px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 12px;
  color: rgba(53,63,73,1);
  padding: 3px;
  opacity: 1;
}
