<% include partials/_head %>

<link rel="stylesheet" href="/style/canvastest.css">
<script type="text/javascript" src="scripts/canvastest.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js">

</script>



<p>Canvas Test Controls</p>

<div id="canvasContainer">
</div>



<button onmouseup="stopMove()" ontouchstart="moveup()" onmousedown="moveup()">UP</button>
<button onmouseup="stopMove()" ontouchstart="movedown()" onmousedown="movedown()">DOWN</button>
<button onmouseup="stopMove()" ontouchstart="moveleft()" onmousedown="moveleft()"">LEFT</button>
<button onmouseup="stopMove()" ontouchstart="moveright()" onmousedown="moveright()">RIGHT</button>
