<% include partials/_head %>

<link rel="stylesheet" href="/style/canvastest.css">
<script type="text/javascript" src="scripts/canvastest.js"></script>



<p>Canvas Test Controls</p>

<button onmouseup="stopMove()" ontouchstart="moveup()" onmousedown="moveup()">UP</button>
<button onmouseup="stopMove()" ontouchstart="movedown()" onmousedown="movedown()">DOWN</button>
<button onmouseup="stopMove()" ontouchstart="moveleft()" onmousedown="moveleft()"">LEFT</button>
<button onmouseup="stopMove()" ontouchstart="moveright()" onmousedown="moveright()">RIGHT</button>
