<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="/blockly/blockly_compressed.js"></script>
    <script src="/blockly/blocks_compressed.js"></script>
    <script src="/blockly/javascript_compressed.js"></script>
    <script src="/blockly/msg/js/en.js"></script>
    <script src="/blockly/custom-blocks.js"></script>
    <script src="/scripts/builder.js"></script>
    <link rel="stylesheet" href="/highlight/styles/atom-one-dark.css">
    <script src="highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="/style/builder.css">
    <title></title>
  </head>
  <body>


<!-- Main NavBar -->

<div class="mainNav">
  <ul class="mainMenu">
    <li><a href="/"><img src="/images/icons/nav roxa - 1 inicio inativo.svg" alt="nav branca - 1 inicio.svg">Início</a></li>
    <li><a href="/lessons"><img src="/images/icons/nav roxa - 2 trilha inativo.svg" alt="nav branca - 2 trilha.svg">Trilha</a></li>
    <li><a class="mainActive" href="/builder"><img src="/images/icons/nav roxa - 3 construtor ativo.svg" alt="nav branca - nav branca - 3 construtor.svg">Construtor</a></li>
    <li><a href="/projects/<%= foundUser._id %>"><img src="/images/icons/nav roxa - 4 projetos inativo.svg" alt="nav branca - 4 projetos.svg">Projetos</a></li>
    <div class="mainRight">
      <li><%= foundUser.firstName%> <%= foundUser.lastName %> | 000 Pontos</li>
      <li>
        <img id="imgProfile" src="/images/profile_default.png" alt="profile_default.png">
        <button id="dropBtn" type="button" name="button">
          <img id="dropBtnIcon" src="/images/icons/expande perfil.svg" alt="expande perfil.svg">
        </button>
        <div class="dropdownContent">
          <a href="/profile">Profile</a>
          <hr>
          <a href="/auth/logout">Logout</a>
        </div>
      </li>
    </div>
  </ul>
</div>

<div class="row">
  <div class="leftContainer">
    <div class="builderNav">
      <ul class="builderNavMenu">
        <li><a class="btnBuilderNav" id="blocklyBtn" href="#">Blockly</a></li>
        <li><a class="btnBuilderNav" id="jsBtn" href="#">JavaScript</a></li>
        <li><a class="btnBuilderNav" id="designBtn" href="#">Design</a></li>
      </ul>
    </div>
    <div id="blocklyArea">
      <div id="blocklyDiv"></div>
    </div>

    <div id="jsArea">
        <pre><code class="javascript">
          <div id="jsCode"></div>
        </code></pre>
    </div>

    <div id="designArea">
      <div class="sessionTitle">
        <h3>Background</h3>
        <div class="sessionTitleSubline"></div>
      </div>
      <div class="designBackground">
        <img src="/images/builder-assets/Background_01_A25_Rectangle_26_pattern.png" alt="Background_01_A25_Rectangle_26_pattern.png">
      </div>
      <div class="sessionTitle">
        <h3>Objetos</h3>
        <div class="sessionTitleSubline"></div>
      </div>
      <div class="designBackground">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_6_pattern.png" alt="arvore_1_peq_A25_Rectangle_6_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_8_pattern.png" alt="arvore_1_peq_A25_Rectangle_8_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_10_pattern.png" alt="arvore_1_peq_A25_Rectangle_10_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_12_pattern.png" alt="arvore_1_peq_A25_Rectangle_12_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_14_pattern.png" alt="arvore_1_peq_A25_Rectangle_14_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_16_pattern.png" alt="arvore_1_peq_A25_Rectangle_16_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_18_pattern.png" alt="arvore_1_peq_A25_Rectangle_18_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_20_pattern.png" alt="arvore_1_peq_A25_Rectangle_20_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_36_pattern.png" alt="arvore_1_peq_A25_Rectangle_36_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_38_pattern.png" alt="arvore_1_peq_A25_Rectangle_38_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_22_pattern.png" alt="arvore_1_peq_A25_Rectangle_22_pattern.png">
        <img src="/images/builder-assets/arvore_1_peq_A25_Rectangle_24_pattern.png" alt="arvore_1_peq_A25_Rectangle_24_pattern.png">
      </div>
      <div class="sessionTitle">
        <h3>Personagens</h3>
        <div class="sessionTitleSubline"></div>
      </div>
      <div class="designBackground">
        <img src="/images/builder-assets/pato_azul_A25_Rectangle_28_pattern.png" alt="pato_azul_A25_Rectangle_28_pattern.png">
        <img src="/images/builder-assets/pato_azul_A25_Rectangle_30_pattern.png" alt="pato_azul_A25_Rectangle_30_pattern.png">
        <img src="/images/builder-assets/pato_azul_A25_Rectangle_32_pattern.png" alt="pato_azul_A25_Rectangle_32_pattern.png">
        <img src="/images/builder-assets/pato_azul_A25_Rectangle_40_pattern.png" alt="pato_azul_A25_Rectangle_40_pattern.png">
      </div>

    </div> <!-- closing designArea -->

  </div> <!--Left Container -->
  <div class="rightContainer">

    <div id="canvas">
      <div class="bottomButtons">
        <div class="rightBtnContainer">
          <button id= "btnRun"type="button" onclick="runCode()" name="button"> <img id="playIcon"src="/images/icons/const - botao play.svg" alt="const - botao play.svg"> </button>
        </div>
        <div class="centerBtnContainer">
          <button id= "btnSave"type="button" onclick="saveProject()" name="button">Salvar</button>
          <button id= "btnPublish"type="button" onclick="publishProject()" name="button">Publicar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- NavBar do Menu Blockly -->
<!-- Blockly toolbox and workspace -->


    <xml id="toolbox" style="display: none">
        <category name="Loops" colour="%{BKY_LOOPS_HUE}">
          <block type="controls_repeat_ext">
            <value name="TIMES">
              <block type="math_number">
                <field name="NUM">10</field>
              </block>
            </value>
          </block>
          <block type="controls_whileUntil"></block>
        </category>
        <category name="Logic" colour="%{BKY_LOGIC_HUE}">
          <block type="controls_if"></block>
          <block type="logic_compare"></block>
          <block type="logic_operation"></block>
          <block type="logic_negate"></block>
          <block type="logic_boolean"></block>
        </category>
        <category name="Math" colour="%{BKY_MATH_HUE}">
          <block type="math_number">
            <field name="NUM">123</field>
          </block>
          <block type="math_arithmetic"></block>
          <block type="math_single"></block>
        </category>
        <category name="Custom Blocks" colour="90">
          <block type="definir-cor"></block>
          <block type='element_color'></block>
        </category>
        <category name="Assets" colour="120">
          <div id="ball"></div>
          <div id="ball"></div>
        </category>
    </xml>
</div>




<!-- <div class="row">
  <div class="leftContainer"> -->

      <!-- <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-blockly-tab" data-toggle="tab" href="#nav-blockly" role="tab" aria-controls="nav-blockly" aria-selected="true">Blockly</a>
          <a class="nav-item nav-link" id="nav-javascript-tab" data-toggle="tab" href="#nav-javascript" role="tab" aria-controls="nav-javascript" aria-selected="false">JavaScript</a>
          <a class="nav-item nav-link disabled" id="nav-design-tab" data-toggle="tab" href="#nav-design" role="tab" aria-controls="nav-design" aria-selected="false">Design</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-blockly" role="tabpanel" aria-labelledby="nav-blockly-tab">
          <!-- Blockly toolbox and workspace -->
              <!-- <div id="blocklyArea">
                <div id="blocklyDiv" style="position: absolute"></div>
              </div>

              <xml id="toolbox" style="display: none">
                  <category name="Loops" colour="%{BKY_LOOPS_HUE}">
                    <block type="controls_repeat_ext">
                      <value name="TIMES">
                        <block type="math_number">
                          <field name="NUM">10</field>
                        </block>
                      </value>
                    </block>
                    <block type="controls_whileUntil"></block>
                  </category>
                  <category name="Logic" colour="%{BKY_LOGIC_HUE}">
                    <block type="controls_if"></block>
                    <block type="logic_compare"></block>
                    <block type="logic_operation"></block>
                    <block type="logic_negate"></block>
                    <block type="logic_boolean"></block>
                  </category>
                  <category name="Math" colour="%{BKY_MATH_HUE}">
                    <block type="math_number">
                      <field name="NUM">123</field>
                    </block>
                    <block type="math_arithmetic"></block>
                    <block type="math_single"></block>
                  </category>
                  <category name="Custom Blocks" colour="90">
                    <block type="definir-cor"></block>
                    <block type='element_color'></block>
                  </category>
                  <category name="Assets" colour="120">
                    <div id="ball"></div>
                    <div id="ball"></div>
                  </category>
              </xml>
        </div>
        <div class="tab-pane fade" id="nav-javascript" role="tabpanel" aria-labelledby="nav-javascript-tab">-->
          <!-- JavaScript Div usando a classe Code da biblioteca Hightlight -->
          <!-- <pre><code class="javascript"  style="height: 480px; width: 600px;">
            <div id="jsArea"></div>
          </code></pre>

        </div>
        <div class="tab-pane fade" id="nav-design" role="tabpanel" aria-labelledby="nav-design-tab">
          Design
        </div>
      </div>
  </div>
  <div class="rightContainer">

    <div id="canvas"><!-- this is the Project Canvas -->

      <!-- <div id="canvasButtons">
        <!-- Button trigger SAVE modal -->
        <!-- <button type="button" class="btn btn-primary" id="btnSalvar" data-toggle="modal" data-target="#saveModal">
          Salvar
        </button>

        <button class="btn btn-primary" id="btnRun" onclick="runCode()">
          Run
        </button>
      </div>

    </div> -->





  <!-- test buttons -->

<!--
  </div>
</div> -->






<!-- BLockly workspace script -->
    <script>
      var blocklyArea = document.getElementById('blocklyArea');
      var blocklyDiv = document.getElementById('blocklyDiv');
      var workspace = Blockly.inject(blocklyDiv,
        {toolbox: document.getElementById('toolbox')});
      var onresize = function(e) {
    // Compute the absolute coordinates and dimensions of blocklyArea.
        var element = blocklyArea;
        var x = 0;
        var y = 0;
        do {
          x += element.offsetLeft;
          y += element.offsetTop;
          element = element.offsetParent;
        } while (element);
      // Position blocklyDiv over blocklyArea.
        blocklyDiv.style.left = x + 'px';
        blocklyDiv.style.top = y + 'px';
        blocklyDiv.style.width = blocklyArea.offsetWidth + 'px';
        blocklyDiv.style.height = blocklyArea.offsetHeight + 'px';
        Blockly.svgResize(workspace);
      };
      window.addEventListener('resize', onresize, false);
      onresize();
      Blockly.svgResize(workspace);

    </script>


<!-- JavaScript Workpace Code -->
  <script>
  $('#jsBtn').on('click', function (e) {
    e.preventDefault()
    console.log('JavaScript Tab was clicked');
    // Generate JavaScript code and display it.
    Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
    Blockly.JavaScript.addReservedWords('code');
    var code = Blockly.JavaScript.workspaceToCode(workspace);
    // alert(code);
    $('#jsCode').html(`${code}`)
  })

// Builder NavBar
  $('#myProjectsTab').hide()

  $('#galleryBtn').click(function(){
    $('#allProjectsTab').show();
    $('#myProjectsTab').hide()
  })

  $('#myProjectsBtn').click(function(){
    $('#allProjectsTab').hide();
    $('#myProjectsTab').show()
  })


// Dropdown Menu on Main NavBar
  $('#dropBtn').click(function(){
    $('.dropdownContent').addClass('show')
  })

  $(window).click(function(e) {
    if(e.target.id != ('dropBtn' || 'dropBtnIcon')) {
      $('.dropdownContent').removeClass('show')
    }else{
    }
  })

//Builder NavBar Hide/Show Logic
  $('#jsArea').hide();
  $('#designArea').hide();

  $('#blocklyBtn').click(function(){
    $('#blocklyArea').show();
    $('#jsArea').hide();
    $('#designArea').hide();
  })

  $('#jsBtn').click(function(){
    $('#blocklyArea').hide();
    $('#jsArea').show();
    $('#designArea').hide();
  })

  $('#designBtn').click(function(){
    $('#blocklyArea').hide();
    $('#jsArea').hide();
    $('#designArea').show();
  })




  </script>


<!-- Bootstrap Scripts  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
